soot-infoflow/jimpleCode/
soot-infoflow-summaries/build/
soot-infoflow-summaries/target/
/.metadata
/.recommenders
.idea/
*.iml
target/
# RECON Specific
results/
sootOutput/
Output
evaluation/evaluation_results/
*.apk
*.dex
tempCodeRunnerFile.*
